body {
    background-color: white;
        text-align: center
}

.wrapper {
    margin: 0 75px
}

.anablok{
    margin: 10px 60px 5px 60px;
    background-color:rgb(236, 232, 226);
    text-align: center;
}

.blok1{
    width: 36%;
    float: left;
    text-align: center;
    padding-top: 25px;
    background-color:#7EE5DA ;
   height: 200px;
margin-right: 9px;
}

.blok2{
    width: 26%;
    float: left;
    text-align: center;
    padding-top: 25px;
    background-color:#7EE5DA ;
   height: 200px;
margin-right: 9px;
}

.blok3{
    width: 36%;
    float: left;
    text-align: center;
    padding-top: 25px;
    background-color: #70CCC2;
    height: 200px;
    margin-right: 9px;
}

.bloklar{
    height: 200px;
        font-family: Arial, Helvetica, sans-serif;
        
        margin:0px 60px 5px 60px;
}